@model FreeTime.Models.Personagen

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Personagen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Criador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Criador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar Para Lista</a>
</div>
